<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
        <target name="rolling-file"
				xsi:type="File"
				archiveAboveSize="10485760"
				archiveFileName="${basedir}/logs/logfile.{#}.log"
				archiveNumbering="Rolling"
				fileName="${basedir}/logs/logfile.log"
				layout="${longdate};${logger};${threadid};${level:upperCase=true};${message};${exception:format=ToString}" />
    </targets>
    <rules>
        <logger name="Raven.*" minlevel="Warn" writeTo="rolling-file" />
        <logger name="*" minlevel="Debug" writeTo="rolling-file" />
    </rules>
</nlog>