<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net471" />
  <package id="Cassette" version="2.4.2" targetFramework="net471" />
  <package id="Cassette.Aspnet" version="2.4.2" targetFramework="net471" />
  <package id="Cassette.MSBuild" version="2.4.2" targetFramework="net471" />
  <package id="Cassette.Views" version="2.4.2" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="NLog" version="4.5.6" targetFramework="net471" />
  <package id="RavenDB.Client" version="3.5.6" targetFramework="net471" />
</packages>