@model QueryViewModel

@{
    ViewBag.Title = "Krysshjälpen";
    ViewBag.HomeTabClass = "active";
    Bundles.Reference("Content/js/home.index.js");
}

@* header, items *@
<script type="text/html" id="home-results-table">
    <div class="row">
        <div class="span4"><h3><%= header %></h3></div>
    </div>
    <% _.each(items, function(item) { %>
    <div class="row">
        <div class="span6">
            <table class="table table-bordered table-striped table-condensed">
                <tr>
                    <td><%=item%></td>
                </tr>
                <tr>
                    <td>
                        <a href='https://www.google.se/search?query=<%=item%>' target="_blank">
                            <img src='Content/images/g.png' alt="Google" />
                        </a>
                    </td>
                    <td>
                        <a href='https://sv.wikipedia.org/wiki/<%=item%>' target="_blank">
                            <img src='Content/images/w.png' alt="Wikipedia" />
                        </a>
                    </td>
                    <td>
                        <a href='https://www.ne.se/sok?q=<%=item%>' target="_blank">
                            <img src='Content/images/ne.png' alt="NE" />
                        </a>
                    </td>
                    <td>
                        <a href='https://www.synonymer.se/sv-syn/<%=escape(item)%>' target="_blank">
                            <img src='Content/images/s.png' alt="Synonymer" />
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <% }); %>
</script>

@* elapsedMilliseconds, count *@
<script type="text/html" id="home-results-header">
    <div class="row">
        <div class="span4">
            <p>Sökningen tog <%=elapsedMilliseconds.toFixed(2)%> ms.
                <% if (count==0) { %>
                Hittade 0 resultat.
                <% } else { %>
                Hittade <%=count%> resultat:
                <% } %>
            </p>
        </div>
    </div>
</script>

<div class="row">
    <div class="span8">
        @using (Ajax.BeginForm(
            "Search",
            null,
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace,
                UpdateTargetId = "content",
                LoadingElementId = "progress",
                OnSuccess = "w.searchSuccess",
                OnFailure = "w.searchFailure"
            }, new { @class = "well form-search" }))
        {
            @Html.TextBoxFor(
                m => m.Text,
                new
                {
                    @class = "input-large",
                    placeholder = "Ange sökterm",
                    autocorrect = "off",
                    autocapitalize = "off",
                    autocomplete = "off",
                    autofocus = "autofocus"
                })
            <button type="submit" class="btn btn-primary">
                <i class="icon-search icon-white"></i>
                Sök
            </button>
            <span id="progress"><img src="@Url.Content("~/Content/images/spinner.gif")" alt="Spinner" /></span>
        }
    </div>
</div>

<div id="content">
    @Html.Partial("_Help")
</div>
<div id="home-results-words"></div>
<div id="home-results-anagrams"></div>
<div id="home-results-near"></div>
