body {
	background-image: url(../images/grid-18px-masked.png);
	background-repeat: repeat-x;
}

#progress {
	display: none;
	position: absolute;
	margin-top: -3px;
}

.navbar .brand {
	color: White;
	text-shadow: 0 0 1px #FFFFFF, 0 0 2px #FFFFFF, 0 0 3px #FFFFFF, 0 0 4px #FF00DE, 0 0 7px #FF00DE, 0 0 8px #FF00DE, 0 0 10px #FF00DE, 0 0 15px #FF00DE;
	font-weight: bold;
	text-transform: uppercase;
}

.input-large {
	/*text-transform: uppercase;
	font-family: Comic Sans MS;*/
}