body {
	background-image: url(../images/grid-18px-masked.png);
	background-repeat: repeat-x;
}

#progress {
	display: none;
	position: absolute;
	margin-top: -3px;
}

.navbar .brand {
	color: Black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
	font-weight: bold;
}